/ = @photos

/ %br
/ - @photos.each do |m|
/   .col-sm-3.col-xs-6
/     .panel.panel-default
/       .panel-thumbnail
/       = image_tag m.photo_pic.url ,:style => "max-width: 100%"
/       .panel-body


/ = image_tag @photos.photo_pic.url
      
    





