#photos_list= render :partial => "photos"
           

/ = link_to "Edit", edit_photo_path(photo), :remote => true
/ = link_to "Destroy", photo, :remote => true, :confirm => 'Are you sure?', :method => :delete








          