// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tag_cloud {
  width: auto;
  line-height: 1.6em;
  .s { 
	font-size: 0.8em;
	color:#fff !important;
	background-color:#e64946;
	padding:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
   }
  .m { 
  font-size: 1.2em;
  color:#fff !important;
  background-color:#e64946;
  padding:5px;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

	.l { 
	font-size: 1.8em;
	color:#fff !important; 
	background-color:#e64946;
	padding:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */

	}

}